Repository logicalclocks/feature-store-api, pull requests merged in 2020-11, with the labels that each got.

#129 Add documentation for integration with external Spark clusters
  docs/assets/images/spark_integration.png
  docs/index.md
  docs/integrations/spark.md
  docs/setup.md
  mkdocs.yml
Labels: documentation

#119 [HOPSWORKS-2084] Remove default_storage option from feature groups
  java/src/main/java/com/logicalclocks/hsfs/FeatureGroup.java
  java/src/main/java/com/logicalclocks/hsfs/MainClass.java
  java/src/main/java/com/logicalclocks/hsfs/Storage.java
  java/src/main/java/com/logicalclocks/hsfs/engine/FeatureGroupEngine.java
  java/src/main/java/com/logicalclocks/hsfs/engine/StatisticsEngine.java
  java/src/main/java/com/logicalclocks/hsfs/metadata/Query.java
Labels: enhancement, java

#118 [HOPSWORKS-2084] Remove default_storage option from feature groups
  python/hsfs/core/feature_group_engine.py
  python/hsfs/core/query.py
  python/hsfs/core/statistics_engine.py
  python/hsfs/core/training_dataset_engine.py
  python/hsfs/engine/hive.py
  python/hsfs/engine/spark.py
  python/hsfs/feature_group.py
  python/hsfs/feature_store.py
  python/hsfs/training_dataset.py
Labels: enhancement, python

#126 [HOPSWORKS-2091] Label/Prediction feature metadata for training datasets
  auto_doc.py
  python/hsfs/core/feature_group_engine.py
  python/hsfs/core/training_dataset_api.py
  python/hsfs/core/training_dataset_engine.py
  python/hsfs/feature.py
  python/hsfs/feature_store.py
  python/hsfs/training_dataset.py
  python/hsfs/training_dataset_feature.py
Labels: enhancement, python

#127 [HOPSWORKS-2091] Label/Prediction feature metadata for training datasets
  java/src/main/java/com/logicalclocks/hsfs/TrainingDataset.java
  java/src/main/java/com/logicalclocks/hsfs/TrainingDatasetFeature.java
  java/src/main/java/com/logicalclocks/hsfs/engine/TrainingDatasetEngine.java
  java/src/main/java/com/logicalclocks/hsfs/metadata/TrainingDatasetApi.java
Labels: enhancement, java

#164 Docs improvements and fixes
  docs/assets/images/databricks/databricks-integration-cluster.png
  docs/assets/images/databricks/databricks-integration.png
  docs/hopsworksai/azure/getting_started.md
  docs/integrations/databricks/api_key.md
  docs/integrations/databricks/configuration.md
  docs/integrations/databricks/networking.md
  python/hsfs/connection.py
Labels: documentation

#168 Add feature store properties
  python/hsfs/feature_store.py
Labels: python
