Repository logicalclocks/feature-store-api, pull requests merged in 2021-01, with the labels that each got.

#208 [HOPSWORKS-2277] Add feature type docs
  docs/templates/feature.md
Labels: documentation

#207 Select all Features of a Feature Group except few
  java/src/main/java/com/logicalclocks/hsfs/metadata/FeatureGroupBase.java
  python/hsfs/feature_group.py
Labels: enhancement, java, python

#185 On demand feature group over S3 buckets
  java/src/main/java/com/logicalclocks/hsfs/FeatureGroup.java
  java/src/main/java/com/logicalclocks/hsfs/OnDemandDataFormat.java
  java/src/main/java/com/logicalclocks/hsfs/OnDemandFeatureGroup.java
  java/src/main/java/com/logicalclocks/hsfs/StorageConnector.java
  java/src/main/java/com/logicalclocks/hsfs/constructor/FsQuery.java
  java/src/main/java/com/logicalclocks/hsfs/constructor/Query.java
  java/src/main/java/com/logicalclocks/hsfs/engine/FeatureGroupBaseEngine.java
  java/src/main/java/com/logicalclocks/hsfs/engine/FeatureGroupEngine.java
  java/src/main/java/com/logicalclocks/hsfs/engine/OnDemandFeatureGroupEngine.java
  java/src/main/java/com/logicalclocks/hsfs/engine/SparkEngine.java
  java/src/main/java/com/logicalclocks/hsfs/engine/StatisticsEngine.java
  java/src/main/java/com/logicalclocks/hsfs/engine/TrainingDatasetEngine.java
  java/src/main/java/com/logicalclocks/hsfs/metadata/FeatureGroupBase.java
  java/src/main/java/com/logicalclocks/hsfs/metadata/OnDemandOptions.java
  java/src/main/java/com/logicalclocks/hsfs/metadata/StatisticsApi.java
  python/hsfs/client/external.py
  python/hsfs/constructor/on_demand_feature_group_alias.py
  python/hsfs/constructor/query.py
  python/hsfs/core/on_demand_feature_group_engine.py
  python/hsfs/engine/spark.py
  python/hsfs/feature_group.py
  python/hsfs/feature_store.py
Labels: java, python

#217 [HOPSWORKS-2280] Save statistics configuration also for training datasets
  auto_doc.py
  docs/templates/api/statistics_config_api.md
  docs/templates/statistics.md
  java/src/main/java/com/logicalclocks/hsfs/FeatureGroup.java
  java/src/main/java/com/logicalclocks/hsfs/OnDemandFeatureGroup.java
  java/src/main/java/com/logicalclocks/hsfs/StatisticsConfig.java
  java/src/main/java/com/logicalclocks/hsfs/TrainingDataset.java
  java/src/main/java/com/logicalclocks/hsfs/engine/FeatureGroupBaseEngine.java
  java/src/main/java/com/logicalclocks/hsfs/engine/FeatureGroupEngine.java
  java/src/main/java/com/logicalclocks/hsfs/engine/StatisticsEngine.java
  java/src/main/java/com/logicalclocks/hsfs/engine/TrainingDatasetEngine.java
  java/src/main/java/com/logicalclocks/hsfs/metadata/FeatureGroupApi.java
  java/src/main/java/com/logicalclocks/hsfs/metadata/FeatureGroupBase.java
  java/src/main/java/com/logicalclocks/hsfs/metadata/TrainingDatasetApi.java
  mkdocs.yml
  python/hsfs/core/feature_group_base_engine.py
  python/hsfs/core/feature_group_engine.py
  python/hsfs/core/training_dataset_api.py
  python/hsfs/core/training_dataset_engine.py
  python/hsfs/feature_group.py
  python/hsfs/statistics_config.py
  python/hsfs/training_dataset.py
Labels: enhancement, java, python

#224 Remove dangerous query default
  python/hsfs/constructor/query.py
  python/hsfs/statistics_config.py
Labels: bug, python

#204 Documentation version selector
  Dockerfile
  Jenkinsfile_doc
  docs/css/version-select.css
  docs/js/version-select.js
  mkdocs.yml
  python/setup.py
Labels: WIP, documentation
